html,body {
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

.app__logo {
  font-family: Cookie;
  color: rgb(251, 0, 128);
  font-size: 48px;
  line-height: 64px;
}

.app__header {
  position: fixed;
  top:0;
  width: 100vw;
  height: 64px;
  background: white;
  z-index: 1;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}
.app__header-action {
  position: absolute;
  top: 20px;
  border: none;
  background: transparent;
}
.app__header-action,
.app__header-action i {
  font-size: 24px;
  color: gray;
}
#content {
  padding-top: 64px;
}
.app__footer {
  position: fixed;
  bottom:0;
  z-index: 1;
  width: 100vw;
  height: 64px;
}
.app__footer-action {
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid white;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  background: rgba(128,128,128, 0.4);
}
@supports (-webkit-backdrop-filter: blur(10px)) {
  .app__footer-action::before {
    content: '';
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    position: absolute;
    top:0;
    left:0;
    -webkit-backdrop-filter: blur(10px);
    z-index: -1;
  }
}

.app__footer-action label {
  line-height: 68px;
  font-size: 32px;
  color: white;
}
.app__footer-action i {
  font-size: 32px;
}
.app__upload {
  bottom: 12px;
  left: 12px;
}
.app__download {
  display: none;
  bottom: 12px;
  right: 12px;
}

.app--selecting .app__download {
  display: block;
}

.app__view-switch {
  left: 12px;
}
.app__notification-switch {
  right: 12px;
}
.app__view-switch::before {
  /* content: '\f0c9'; */
  content: 'view_stream';
}
.app--grid-view .app__view-switch::before {
  /* content: '\f00a'; */
  content: 'view_module';
}

.app--grid-view .list__container {
  display: flex;
  flex-direction: row;
}

.media-item {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  margin-left: 4px;
  margin-top: 4px;
  width: calc(100vw - 2 * 4px);
  border-radius: 4px;
  box-sizing: border-box;
  transition: all linear .15s;
}
/* .app--grid-view .media-item:nth-child(3n + 1) {
  margin-left: 4px;
}
.app--grid-view .media-item:nth-child(3n) {
  margin-right: 4px;
} */
.media-item__picture {
  margin-bottom: -4px;
}
.media-item__thumb {
  width: 100%; 
}
.media-item__select {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid transparent;
  background: rgba(160, 160, 160, 0.4);
  transition: all linear .15s;
}
.media-item:hover .media-item__select,
.media-item__select:active {
  border-color: #fff;
}
.media-item--selected  {
  border: 4px solid rgb(251, 0, 128);
}
.media-item--selected .media-item__select {
  background: rgba(251, 0, 128, 0.75);
  border-color: #fff;
}

.app--grid-view .media-item {
  width: calc((100vw - 4 * 4px) / 3);
  height: calc((100vw - 4 * 4px) / 3);
}

.app--grid-view .media-item__select {
  width: 24px;
  height: 24px;
  top: 8px;
  right: 8px;
}

.app--grid-view .media-item__thumb {
  width: 33.3vw;
  height: 33.3vw;
  object-fit: cover;
}

.list__infinity > div {
  height: auto !important;
}

.app_notification {
  display: none;
  position: fixed;
  top: 68px;
  right: 4px;
  width: 72px;
  max-height: calc(100vh - 64px * 2);
  box-sizing: border-box;
  padding: 4px;
  overflow-y: scroll;
  z-index: 1;
  background: white;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}
.app_notification p {
  display: none;
}
.app__notification--empty {
  width: 240px;
  font-size: 16px;
}
.app__notification--empty p {
  display: flex;
  align-items: center;
}
.app__notification--showing {
  display: block;
}
.app_notification > i {
  display: block;
}

.app__notification-indicator {
  display: none;
  position: relative;
  width: 24px;
  height: 2px;
  box-sizing: border-box;
}

.app__notification-indicator::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 2px;
  background: gray;
  animation: notification-indicator 1.5s infinite ease-in-out alternate;
}

.app__notificatoion-indicator--showing {
  display: block;
}

@keyframes notification-indicator {
  from { left: 0;}
  to { left: calc(100% - 4px);}
}


.uploading-item {
  position: relative;
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
}
.uploading-item__thumb {
  width: 64px;
  height: 64px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.uploading-item__indicator {
  display: block;
  position: relative;
  width: 0;
  height: 4px;
  background: transparent;
}
.uploading-item--uploading .uploading-item__indicator,
.uploading-item--uploaded .uploading-item__indicator {
  background: rgb(251, 0, 128);
} 
.uploading-item--converting .uploading-item__indicator::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 4px;
  background: rgb(251, 0, 128);
  animation: upload-item-indicator 1.5s infinite ease-in-out alternate;
}
@keyframes upload-item-indicator {
  from { left: 0;}
  to { left: calc(100% - 8px);}
}
.uploading-item--succeeded .uploading-item__indicator {
  background: transparent;
}
.uploading-item--succeeded::before {
  content: 'done';
  font-family: 'Material Icons';
  position: absolute;
  text-align: center;
  line-height: 64px;
  width: 64px;
  height: 64px;
  top: 0;
  left: 0;
  color: #fd79a8;
  animation: upload-item--succeeded 0.25s 1 ease-in-out forwards;
}

@keyframes upload-item--succeeded {
  from { font-size: 0; }
  to { font-size: 64px; }
}